[Unit]
Description=Efner Gallery Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/gallery/main.py
WorkingDirectory=/home/pi/gallery
User=pi
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
